<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            
            <li>
                <a href="/Admin"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
            </li>
            <li>
                <a href="/Admin/Products/Index"><i class="fa fa-gift"></i>Sản phẩm</a>
            </li>
            <li>
                <a href="/Admin/Categories/Index"><i class="fa fa-briefcase"></i>Danh mục sản phẩm</a>
            </li>
            <li>
                <a href="/Admin/Customers/Index"><i class="fa fa-group"></i>Khách hàng</a>
            </li>
            <li>
                <a href="/Admin/Suppliers/Index"><i class="fa fa-glass"></i>Nhà cung cấp</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o"></i>Quản lý đơn hàng - thanh toán<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/Orders/Index">Đơn hàng</a>
                    </li>
                    <li>
                        <a href="/Admin/OrderDetails/Index">Đơn hàng chi tiết</a>
                    </li>
                    <li>
                        <a href="/Admin/OrderStatus/Index">Trạng thái đơn hàng</a>
                    </li>
                    <li>
                        <a href="/Admin/PaymentMethods/Index">Phương thức thanh toán</a>
                    </li>
                    <li>
                        <a href="/Admin/PaymentStatus/Index">Tình trạng thanh toán</a>
                    </li>
                    <li>
                        <a href="/Admin/Payments/Index">Thanh toán</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o"></i>Quản lý giỏ hàng<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/ShoppingCarts/Index">Giỏ hàng</a>
                    </li>
                    <li>
                        <a href="/Admin/ShoppingCartDetails/Index">Giỏ hàng chi tiết</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i>Bài viết - Bình luận<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/Comments/Index">Bình luận</a>
                    </li>
                    <li>
                        <a href="/Admin/ArticleCategories/Index">Chuyên mục bài viết</a>
                    </li>
                    <li>
                        <a href="/Admin/Articles/Index">Bài viết</a>
                    </li>
                    <li>
                        <a href="/Admin/ArticleImages/Index">Ảnh bài viết</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            
            <li>
                <a href="/Home/Index"><i class="fa fa-home"></i> Go to web</a>
            </li>
            @*<li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="flot.html">Flot Charts</a>
                        </li>
                        <li>
                            <a href="morris.html">Morris.js Charts</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                </li>
                <li>
                    <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="panels-wells.html">Panels and Wells</a>
                        </li>
                        <li>
                            <a href="buttons.html">Buttons</a>
                        </li>
                        <li>
                            <a href="notifications.html">Notifications</a>
                        </li>
                        <li>
                            <a href="typography.html">Typography</a>
                        </li>
                        <li>
                            <a href="icons.html"> Icons</a>
                        </li>
                        <li>
                            <a href="grid.html">Grid</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="blank.html">Blank Page</a>
                        </li>
                        <li>
                            <a href="login.html">Login Page</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>*@
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

