@model List<TechDeviShopVs002.Models.Supplier>

<div class="w3ls_mobiles_grid_left_grid">
    <h3>Supplier</h3>
    <div class="w3ls_mobiles_grid_left_grid_sub">
        <div class="ecommerce_color">
            <ul>
                @foreach (var item in Model)
                {
                    var url = "/sanpham/" + item.MetaTitle + "-" + item.SupplierID;
                    <li><a href="@url"><i></i>@item.SupplierName</a></li>
                }
            </ul>
        </div>
    </div>
</div>
