@model List<TechDeviShopVs002.Models.Supplier>

<script src="~/Assets/Client/js/jquery.min.js"></script>
<link rel="stylesheet" href="~/Assets/Client/css/jquery.countdown.css" />
<script type="text/javascript" src="~/Assets/Client/js/bootstrap-3.1.1.min.js"></script>

<div class="w3ls_mobiles_grid_left_grid">
    <h3>Supplier</h3>
    <div class="w3ls_mobiles_grid_left_grid_sub">
        <div class="ecommerce_color">
            <ul>
                @foreach (var item in Model)
                {
                    var url = "/sanpham/" + item.MetaTitle + "-" + item.SupplierID;
                    <li><a href="@url"><i></i>@item.SupplierName</a></li>
                }
            </ul>
        </div>
    </div>
</div>
