
@{
    ViewBag.Title = "PaymentError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="alert alert-success">
        Lỗi rồi! thanh toán không thành công!
    </div>
    <br />
    <p>@Html.ActionLink("Quay về trang chủ", "Index", "Home")</p>
</div>

